@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base necesarios para el formulario de login */
html {
  height: 100%;
  @apply bg-white dark:bg-gray-900;
}

body {
  height: 100%;
}
