@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  @apply bg-white dark:bg-gray-900;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Utilidad para ocultar la barra de desplazamiento visual pero mantener el scroll funcional */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
